*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  background: #eee;
}

a:link,
a:visited {
  text-decoration: inherit;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

.bottom-border {
  border-bottom: 2px solid $light-gray;
}
